.DS_Store
.config/nvim/temp/*
.config/nvim/.dein/*
.config/nvim/rollbacks/*
.config/nvim/repos/*
.config/nvim/merged
.CFUserTextEncoding
.Trash/
.account
.babel.json
.bash_history
.cache/
.config/configstore/
.config/fish/fish_history
.config/fish/fishd.9801a7a2ea59
.config/fish/fishd.a45e60e59139
.cups/
.electron/
.gitconfig
.karabiner.d/
.lesshst
.local/
.node-gyp/
.node_repl_history
.npm/
.nvim/
.ssh/
.viminfo
.yarn-cache/
.yarn/
.z
bash_it
fishiterm
nvim
Applications/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

